<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maxbardus.a1100953577">

    <application
        android:name=".arbitriumApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".kitchenActivity" />
        <activity android:name=".italianCuisine" />
        <activity android:name=".japaneseCuisine" />
        <activity android:name=".mexicanCuisine" />
        <activity android:name=".terrapizzaMenu" />
        <activity android:name=".edenpastaMenu" />
        <activity android:name=".deonisMenu" />
        <activity android:name=".Checkout" />
        <activity android:name=".orderReview" />
        <activity android:name=".rasenganMenu" />
        <activity android:name=".chidoriMenu" />
        <activity android:name=".edotenseiMenu"></activity>
    </application>

</manifest>